@font-face {
    font-family: 'WindowsRegular';
    src: url('./fonts/WindowsRegular.ttf') format('truetype');
}


body {
    margin: 0;
    background-color: #008081;
    font-family: 'WindowsRegular', sans-serif;
}

.container img{
    width: 90px;
    height: 90px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: start;
    margin-left: 20px;
}
  
.container img {
    max-width: 100px;
    height: auto;
}
  
.container .holder1,
.container .holder2,
.container .holder3,
.container .holder4 {
    color: #D7D7D7;
    text-align: left;
}
  
.title {
    margin-top: -10px;
}
  

.nav-container {
    background-color: #C0C0C0; 
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #C0C0C0
 
}

nav {
    background-color: #C0C0C0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 120px); 
}

nav img {
    height: 50px;
    width: auto;
}

nav div {
    display: flex;
    justify-content: flex-end;

}

.explorer {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
}

.windows {
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

.line {
    margin-left: 10px;
    border: 2px solid #D7D7D7;
    height: 30px;
}
.line1{
    margin-top: 8px;
}
.line2 {
    margin-left: -1px;
}

.documents {
    margin-left: -10px;
}

.clock{
    height: 50px;
    width: 90px;
    display: flex;
    padding-right: 10px;
    justify-content: right;
    align-items: center;    
    background-color: #c1c1c1;
    margin-right: 10px;
    box-shadow: 0px 0px 0px 2px rgba(130,130,130,0.44) inset;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(130,130,130,0.44) inset;
    -moz-box-shadow: 0px 0px 0px 2px rgba(130,130,130,0.44) inset;

}

nav .holder{
    box-shadow: 0px 0px 0px 2px rgba(130,130,130,0.44) inset;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(130,130,130,0.44) inset;
    -moz-box-shadow: 0px 0px 0px 2px rgba(130,130,130,0.44) inset;
    width: 188px;
}

.nav-container .line{
    transform: translateX(7px);
}

.container .holder2 .explorer{
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

.container .holder1 img{
    margin-top: 10;
    margin-left: 5px;
}
.container .holder1 p{
  margin-top: -20px;
    margin-left: 6px;
}

.container .holder3 p{
    margin-top: -20px;
}

.container.holder4 p{
    margin-top: -20px;
}

.container .holder3,
.container .holder4{
    margin-top: -20px;
}

.container .holder4{
    margin-top: -20px;
}

#indexContent,
#index2Content,
#index3Content,
#index4Content {
    display: none;
}

span{
    width: 98px;
}

@media (max-width: 768px) {
    body {
        background-color: white;
    }
    .web{
        display: none;
    }
    .error-message {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 20px;
        border: 2px solid red;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        display: block !important;
    }
    
}


.holder1:hover,
.holder2:hover,
.holder3:hover,
.holder4:hover{
    background-color: rgba(152, 229, 248, 0.226);
}

nav img:hover{
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

.container p{
    text-align: center;
    margin-left: -10px;
}

.container .holder1 p{
    text-align: center;
    margin-left: -10px;
}

.error-message{
    display: none;
}
