@font-face {
    font-family: 'WindowsRegular';
    src: url('./fonts/WindowsRegular.ttf') format('truetype');
}



body {
    margin: 0;
    background-color: #008081;
    font-family: 'WindowsRegular', sans-serif;
}

.container img{
    width: 90px;
    height: 90px;
}
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 60px;
    margin-top: 20px;
    margin-left: 40px;
}

.holder1 { grid-area: 1 / 1 / 2 / 2;}
.holder2 { grid-area: 2 / 1 / 3 / 2; height:90px; width: 90px;}
.holder3 { grid-area: 3 / 1 / 4 / 2; height:90px; width: 90px;}
.holder4 { grid-area: 4 / 1 / 5 / 2; height:90px; width: 90px;}
p{
    color: white;
    z-index: 1;
    margin-top: -20px;
}

.nav-container {
    background-color: #C0C0C0; /* Grey background */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #C0C0C0
 
}

nav {
    background-color: #C0C0C0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 120px); 
}

nav img {
    height: 50px;
    width: auto;
}

nav div {
    display: flex;
    justify-content: flex-end;

}

.explorer {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
}

.windows {
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

.line {
    margin-left: 10px;
    border: 2px solid #D7D7D7;
    height: 30px;
}
.line1{
    margin-top: 8px;
}
.line2 {
    margin-left: -1px;
}

.documents {
    margin-left: -10px;
}

.clock{
    height: 50px;
    width: 90px;
    display: flex;
    padding-right: 10px;
    justify-content: right;
    align-items: center;    
    background-color: #c1c1c1;
    margin-right: 10px;
    box-shadow: 0px 0px 0px 2px rgba(130,130,130,0.44) inset;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(130,130,130,0.44) inset;
    -moz-box-shadow: 0px 0px 0px 2px rgba(130,130,130,0.44) inset;

}

nav .holder{
    box-shadow: 0px 0px 0px 2px rgba(130,130,130,0.44) inset;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(130,130,130,0.44) inset;
    -moz-box-shadow: 0px 0px 0px 2px rgba(130,130,130,0.44) inset;
    width: 188px;
}

.nav-container .line{
    transform: translateX(7px);
}