.mycomputer-content{
    width: 700px;
    background-color: #C0C0C0;
    position: absolute;
    height: 550px;
}

.mycomputer-content .icons{
    margin-top: 0;
    padding-top: 2px;
    background-color: #000080;
    display: flex;
    justify-content: end;
}


.mycomputer-content .title{
    color: white;
    font-weight: 5px;
    margin-top: 0px;
    margin-right: 594px;
}

.mycomputer-content .close-ico{
    height: 10px;
    width: 10px;
}

.mycomputer-content .close-ico:after {
    content: '';
    height: 12px;
    border-left: 2px solid #000;
    top: 6px;
    margin-left: 4px;
    position: absolute;
    transform: rotate(45deg);
}

.mycomputer-content .close-ico:before {
    content: '';
    height: 12px;
    border-left: 2px solid #000;
    top: 6px;
    margin-left: 4px;
    position: absolute;
    transform: rotate(-45deg);
}

.mycomputer-content .holder{
    top: 0;
    height: 15px;
    width: 20px;
    background-color: #BDBDBD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}

#contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
  
.form-row {
    margin-bottom: 10px;
    display: flex;
}
  
.half-width {
    width: calc(50% - 5px);
    margin-right: 10px;
}

input[type="text"]:nth-child(1){
    width: 225px;

}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 8px;
}
  
textarea {
    height: 100px; 
    resize: none;
}
  
button[type="submit"] {
    background-color: #7a7a7a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button[type="submit"]:hover {
    background-color: rgb(82, 82, 82);
}

.mycomputer-content h1{
    text-align: center;
}