.recycle-bin-container {
    background-color: #fff;
    border: 2px solid #525252;
    height: 60%;
    width: 700px;
}


.recycle-bin-container .holder{
    top: 0;
    height: 15px;
    width: 20px;
    background-color: #BDBDBD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}

.recycle-bin-container .icons{
    margin-top: 0;
    padding-top: 2px;
    background-color: #000080;
    display: flex;
    justify-content: end;
}

.recycle-bin-container .minimize-ico{
    height: 10px;
    width: 10px;
    padding-bottom: -10px;
    border-bottom: 2px solid #000;
}

.recycle-bin-container .title{
    color: white;
    font-weight: 5px;
    margin-top: 0px;
    margin-right: 597px;
}
.recycle-bin-container .whole-ico{
    height: 10px;
    width: 10px;
    border-top: 2px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.recycle-bin-container .close-ico{
    height: 10px;
    width: 10px;
}
.recycle-bin-container .close-ico:after {
    content: '';
    height: 12px;
    border-left: 2px solid #000;
    top: 6px;
    margin-left: 4px;
    position: absolute;
    transform: rotate(45deg);
}

.recycle-bin-container .close-ico:before {
    content: '';
    height: 12px;
    border-left: 2px solid #000;
    top: 6px;
    margin-left: 4px;
    position: absolute;
    transform: rotate(-45deg);
}

.recycle-bin-container .shorcuts{
    background-color: #C0C0C0;
    display: flex;
    font-size: 15px;
    font-weight: 10px;
    height: 35px;
    border: 3px solid #d6d3d3 ;
}
.recycle-bin-container .shorcuts p{
    margin-top: 7px;
    margin-left: 20px;
}

.recycle-bin-container .shorcuts p:first-letter{
    text-decoration:underline;
}

.recycle-bin-container .contentHolder{
    display: flex;
    overflow: hidden;
    width: 100%;
}

.recycle-bin-container .contentHolder aside{
    height: 100%;
    width: 30%;
    margin: 0;
    background: linear-gradient(to bottom, #C0DCF9, #FFFFFF);

}

.recycle-bin-container .contentHolder aside img{
    width: 90px;
    height: 90px;
    margin-bottom: -80px;
}

.recycle-bin-container .contentHolder aside h1{
    font-size: 60px;
    margin-left: 20px;
    margin-bottom: -5px;
}

.recycle-bin-container .line-holder {
    display: flex;
}

.recycle-bin-container .line-holder div:nth-child(1){
    border: 1px solid red;
    width: 100px;
    height: 25% ;
}

.recycle-bin-container .line-holder div:nth-child(2){
    border: 1px solid yellow;
    width: 100px;
    height: 25% ;
}

.recycle-bin-container .line-holder div:nth-child(3){
    border: 1px solid green;
    width: 100px;
    height: 25%;
}

.recycle-bin-container .line-holder div:nth-child(4){
    border: 1px solid blue;
    width: 100px;
    height: 25% ;
}

.recycle-bin-container .desc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
}

.recycle-bin-container .projects-unfinished{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 40px; 
        height: 300px;
        margin-top: 20px;
}


.recycle-bin-container .whitespace {
        background-color: #E0E0E0;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
        height: 90px;
        width: 90px;
        flex-grow: 1;
    
}

.recycle-bin-container a{
    color: black;
    text-decoration: none;
}

.recycle-bin-container .center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: auto;

}

.recycle-bin-container .contentHolder {
    display: flex;
}

.recycle-bin-container .contentHolder aside {
    height: 100%;
    width: 40%;
    margin: 0;
    background: linear-gradient(to bottom, #C0DCF9, #FFFFFF);
}
